<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <tr class="mobileNo">
        <th><label for="phone">휴대폰 번호</label></th>
        <td><p><input id="phone" type="text" name="phone" title="전화번호 입력" required/>
            <button id="phoneChk" class="doubleChk">인증번호 보내기</button><br/>

            <input id="phone2" type="text" name="phone2" title="인증번호 입력" disabled required/>
            <button id="phoneChk2" class="doubleChk">본인인증</button>

            <span class="point successPhoneChk">휴대폰 번호 입력후 인증번호 보내기를 해주십시오.</span>
            <input type="hidden" id="phoneDoubleChk"/></p>
    </tr>
</div>
</body>
<script>


    var code2 = "";
    $("#phoneChk").click(function () {
        var phone = $("#phone").val();

        $.ajax({
            type: "GET",
            url: "phoneCheck?phone=" + phone,
            cache: false,
            success: function (data) {
                if (data == "error") {
                    alert("휴대폰 번호가 올바르지 않습니다.")
                    $(".successPhoneChk").text("유효한 번호를 입력해주세요.");
                    $(".successPhoneChk").css("color", "red");
                    $("#phone").attr("autofocus", true);
                } else {
                    $("#phone2").attr("disabled", false);
                    $("#phoneChk2").css("display", "inline-block");
                    $(".successPhoneChk").text("인증번호를 입력한 뒤 본인인증을 눌러주십시오.");
                    $(".successPhoneChk").css("color", "green");
                    $("#phone").attr("readonly", true);
                    code2 = data;
                }
            }
        });
    });


    //휴대폰 인증번호 대조
    $("#phoneChk2").click(function () {
        if ($("#phone2").val() == code2) {
            $(".successPhoneChk").text("인증번호가 일치합니다.");
            $(".successPhoneChk").css("color", "green");
            $("#phoneDoubleChk").val("true");
            $("#phone2").attr("disabled", true);
        } else {
            $(".successPhoneChk").text("인증번호가 일치하지 않습니다. 확인해주시기 바랍니다.");
            $(".successPhoneChk").css("color", "red");
            $("#phoneDoubleChk").val("false");
            $(this).attr("autofocus", true);
        }
    });
</script>
</html>