<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>신청폼</title>
    <meta charset="utf-8">
    <link href="signup.css" rel="stylesheet" />
    <script src="signup.js"></script>

</head>

<body>
<div>
    <label>의류량
        <input type="number" placeholder="숫자만 입력해 주세요"> kg
    </label>
</div>
<div>
    <label>수거날짜
        <input type="date">
    </label>
</div>
<div>
    <label>수거지역
        <input type="text">

    </label>
</div>

<div>
    <label>기부영수증신청여부
        <select>
            <option>
                o
            </option>
            <option>
                x
            </option>
        </select>

    </label>
</div>
<button type="submit" id="submit"> 신청 </button>
</body>

</html>